@font-face {
    font-family: '20 Kopeek';
    src: url('/fonts/20Kopeek-book.eot');
    src: url('/fonts/20Kopeek-Book.eot?#iefix') format('embedded-opentype'),
    url('/fonts/20Kopeek-Book.woff2') format('woff2'),
    url('/fonts/20Kopeek-Book.woff') format('woff'),
    url('/fonts/20Kopeek-Book.ttf') format('truetype'),
    url('/fonts/20Kopeek-Book.svg#20Kopeek-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.container{
    margin: auto;
    max-width: 1110px;
    font-family: "20 Kopeek", sans-serif;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    position: absolute;
    width: 100%;
    padding-top: 32px;
}
.logo{
    display: flex;
    align-items: center;
}
.first_section_forbg{
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-position: center center;
    padding: 340px 0 309px;

}
a{
    text-decoration: none;
}

ul li a{
    display: inline-block;
    width: 13px;
    height: 13px;
    text-align: center;
    padding: 12px;
    border: 1px solid #FFFFFF;
    margin-left: 23px;
    border-radius: 50%;
}

.phonenum{
    width: auto;
    height: auto;
    border-radius: 40px;
    margin-left: 0;
    color: #FFFFFF;
}
.first_section_links{
    display: flex;
    align-items: center;
}
.header_text{

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: white;
    margin-left: 22px;
}
.first_section_links a{
    font-size: 18px;
    color: #181818;
    padding: 23px 47px;
    background: #FFFFFF;
    border-radius: 40px;
    margin-right: 20px;
    font-family: sans-serif;
}
h1{
    font-size: 55px;
    line-height: 55px;
    text-align: left;

}
.under_h1{
    margin-top: 30px;
    font-size: 34px;
    line-height: 37px;
    text-align: left;
}
ul{
    list-style: none;
    display: flex;
}
.second_section{
    margin-top: 70px;
}
.second_section h2{
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    justify-content: flex-end;
}
.second_section h3{
    font-size: 38px;
    color: #181818;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 5px;
}
.second_section_article img{
    max-width: 635px;
}
.second_section_article_text{
    font-size: 18px;
    line-height: 140%;
    color: #181818;
}
.third_section{
    padding-top: 141px;
}
.third_section_h2{
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    text-align: left;
}

.elements_style{
    align-items: flex-start;
    margin-bottom: 120px;
}
.elements_style .display-flex{
    align-content: flex-start;
    justify-content: normal;
}
.elements_style span{
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 100%;
    margin-right: 8px;
    align-self: flex-start;
}
.elements_style h4{
    max-width: 130px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
}
.elements_style_text{
    max-width: 250px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    margin-left: 40px;
}
.ind_style{
    text-align: right;
    margin-right: 80px;
}

.cost_style div{
    max-width: 416px;
}
.cost_style div p{
    padding: 11px 7px 11px 13px;
}
.cost_style div .blue_paragraph{
    background: #2B59C3;
    border-radius: 5px;
    color: #FFFFFF;
}

.catalog{
margin-top: 133px;
}

.catalog h4 {
    font-weight: normal;
    font-size: 55px;
    line-height: 100%;
    margin: 0;
}

.catalog p{
    font-family: 20 Kopeek;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    max-width: 233px;
    text-align: left;

}
.mark{
    max-width: 540px;
    align-items: flex-start;
    margin-top: 38px;
}

.mark .display-flex a{
    display: inline-block;
    font-size: 18px;
    color: #181818;
    padding: 23px 47px;
    background: #FFFFFF;
    border-radius: 40px;
    border: 1px solid;
    margin-right: 20px;
    font-family: sans-serif;
}
.showmore{
    font-style: normal;
    font-size: 26px;
    color: #FFFFFF;
    padding: 23px 47px;
    background: #2B59C3;
    border-radius: 40px;
    margin-left: 300px;
}
.guidelines{

}
.guidelines h3{
    font-size: 38px;
    color: #181818;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 5px;
}
.guidelines-text{
    max-width: 445px;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    box-sizing: border-box;
}
.blue-background{
    background: #2B59C3;
    border-radius: 5px;
    padding-: 14px 11px;
}
.blue-background p{
    color: #FFFFFF;

}
.blue-background h3{
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 110%;
    color: #FFFFFF;
    background: #2B59C3;
    border-radius: 5px 5px 0 0;
    padding: 14px 39px 10px 11px;
    margin: 0;
}
.guidelines-text p{
    margin-top: 15px;
}
.order-a-project h2 {
    font-family: 20 Kopeek Book;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
}
#first_name{
    width: 100%;
    padding: 29px 23px;
    border: 1px solid #181818;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    box-sizing: border-box;
}
#phonenumber{
    width: 100%;
    padding: 29px 23px;
    border: 1px solid #181818;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    box-sizing: border-box;
}
.input-box{
    width: 350px;
    font-family: '20 Kopeek', sans-serif;
}
.order-button{
    background: #2B59C3;
    border-radius: 40px;
    border: none;
    color: white;
    padding: 23px 47px;
}
.checkbox{
    margin-top: 21px;
}
.sheet{
    margin-top: 83px;
}
.sheet h5{
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 140%;
    text-align: left;


}
.sheet p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #181818;
    padding: 15px 14px 0 14px;


}
.sheet-logo{
    min-width: 255px;
}
.sheet h4{
//styleName: Desk — H3;
    font-family: 20 Kopeek Book;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.flex-box{
    margin-left: 30px;
    max-width: 200px;
}