@font-face {
    font-family: '20 Kopeek';
    src: url('/fonts/20Kopeek-book.eot');
    src: url('/fonts/20Kopeek-Book.eot?#iefix') format('embedded-opentype'),
    url('/fonts/20Kopeek-Book.woff2') format('woff2'),
    url('/fonts/20Kopeek-Book.woff') format('woff'),
    url('/fonts/20Kopeek-Book.ttf') format('truetype'),
    url('/fonts/20Kopeek-Book.svg#20Kopeek-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

header{
    background-image: url('../images/back.jpg');
    width: 100%;
    padding-top: 32px;
}
.logo{
    display: flex;
    align-items: center;
}
.container{
    margin: auto;
    max-width: 1110px;
}
.container_head {
    margin: auto;
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first_section{
    background-image: url('../images/back.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-top: 269px;
}
nav{

}
ul li a{
    display: inline-block;
    border: 1px solid #FFFFFF;
    border-radius: 200px;
    box-sizing: border-box;
    color:black;
    padding: 10px 11px;
    padding-left: 23px;
}
li{
    padding-left: 23px;
}
.phonenum{
    padding: 7px 27px;

}
.header_text{

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: white;
    margin-left: 22px;
}
.portfolio{
    margin-top: 65px;
    border-radius: 200px;
    color: black;
    display: inline-block;
    background: #FFFFFF;
    margin-right: 20px;
}
.application{
    border-radius: 200px;
    color: black;
    display: inline-block;
    background: #FFFFFF;
}

a p{
    padding: 27px 43px;
    font-family: 20 Kopeek;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}
h1{
    font-family: 20 Kopeek Book;
    font-size: 55px;
    line-height: 55px;
    text-align: left;

}
.under_h1{
    margin-top: 30px;
    font-family: 20 Kopeek Book;
    font-size: 34px;
    line-height: 37px;
    text-align: left;


}
ul{
    list-style: none;
    display: flex;
}
.second_section{
    margin-top: 70px;
}
.second_section_h2{
//styleName: Desk — H2;
    font-family: 20 Kopeek Book;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
}
.second_section_article{
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.second_section_article_text_2{
//styleName: Desk — Body;
    font-family: 20 Kopeek;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}
.third_section{
    padding-top: 141px;
}
.third_section_h2{
//styleName: Desk — H1;
    font-family: 20 Kopeek Book;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    text-align: left;
}
.third_section_article{
    display: flex;
    justify-content: space-between;

}
.one{
//styleName: Desk — Body;
    font-family: 20 Kopeek;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}

.onetext{
    font-family: 20 Kopeek;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}
.two{
    font-family: 20 Kopeek;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}
.twotext{
//styleName: Desk — Body;
    font-family: 20 Kopeek;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}
.three{
    font-family: 20 Kopeek;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}
.threetext{
    font-family: 20 Kopeek;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}
.four{
    font-family: 20 Kopeek;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}
.fourtext{
    font-family: 20 Kopeek;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}
.five{
    font-family: 20 Kopeek;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}
.fivetext{
    font-family: 20 Kopeek;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}
.third_section_h3{
//styleName: Desk — H2;
    font-family: 20 Kopeek Book;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    justify-content: flex-end;
}
.third_section_article_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.third_section_article_1_text_1{
    font-family: 20 Kopeek;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

//styleName: Desk — Body;
    font-family: 20 Kopeek;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;


}
.third_section_article_1_text_1_blue{
    font-family: 20 Kopeek;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    background: #2B59C3;
    padding: 11px 7px 11px 13px;
    border-radius: 20px;
}
.third_section_article_1_text{
    padding-right: 82px;
}