@font-face {
    font-family: '20 Kopeek';
    src: url('/fonts/20Kopeek-book.eot');
    src: url('/fonts/20Kopeek-Book.eot?#iefix') format('embedded-opentype'),
    url('/fonts/20Kopeek-Book.woff2') format('woff2'),
    url('/fonts/20Kopeek-Book.woff') format('woff'),
    url('/fonts/20Kopeek-Book.ttf') format('truetype'),
    url('/fonts/20Kopeek-Book.svg#20Kopeek-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

header{
    margin: auto;
    max-width: 1110px;
    display: flex;
}
.logo{
    display: flex;
}
.container{
    margin: auto;
    max-width: 1110px;
}
.first_section{
    background-image: url('/../images/back.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
}
nav{
    padding-left: 489px;
}
ul li a{
    display: inline-block;
    border: 1px solid #FFFFFF;
    border-radius: 200px;
    box-sizing: border-box;
    color:black;
    padding-left: 23px;
}
li{
    padding-left: 23px;
}
.phonenum{
    padding: 7px 27px 7px 27px;

}
.header_text{

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: white;
}
.portfolio{
    margin-top: 65px;
    border-radius: 200px;
    color: black;
    display: inline-block;
    background: #FFFFFF;
    margin-right: 20px;
}
.application{
    border-radius: 200px;
    color: black;
    display: inline-block;
    background: #FFFFFF;
}

a p{
    padding: 27px 43px 27px 43px;
    font-family: 20 Kopeek;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}
h1{
    font-family: 20 Kopeek Book;
    font-size: 55px;
    line-height: 55px;
    text-align: left;
}
.under_h1{
    margin-top: 30px;
    font-family: 20 Kopeek Book;
    font-size: 34px;
    line-height: 37px;
    text-align: left;


}
ul{
    list-style: none;
    display: flex;
}
.facebook{
    padding: 10px 11px 10px 11px;
}
.second_section{
    margin-top: 70px;
}
.second_section_h2{
//styleName: Desk — H2;
    font-family: 20 Kopeek Book;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
}
.second_section_article{
    display: flex;

}
.second_section_article_text{
    height: 400px;
    width: 445px;
    left: 950px;
    top: 1062px;
    border-radius: nullpx;


}